<div class="card flex flex-wrap gap-3 justify-content-center" >
    <p-button label="Deber 1" [raised]="true" routerLink="/grid-1" severity="secondary"/>
    <p-button label="Deber 2" [raised]="true" routerLink="/grid-2" severity="secondary"/>
    <p-button label="Deber 3" [raised]="true" routerLink="/cards" severity="secondary"/>
    <p-button label="Deber 4" [raised]="true" routerLink="/form" severity="secondary"/>
    <p-button label="Deber 5" [raised]="true" routerLink="/gallery" severity="secondary"/>
</div>


