
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.466);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  
  h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
  }
  
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: 1px solid   #03030348;
    background: rgba(255, 255, 255, 0.466);
    border-radius: 6px;
    box-sizing: border-box; 
    transition: all 0.3s ease;
  }
  
  
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
  }
  
  textarea {
    resize: vertical;
    min-height: 120px;
    line-height: 1.5; 
  }
  
  /* Estilo para los checkbox */
  .checkbox-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
  }
  
  .checkbox-group input {
    margin-right: 50px;
  }
  
  
  button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(45deg, #731bdd, #1815a8);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  }
  
  
  button:hover:not(:disabled) {
    background-color: #1459a3;
    transform: translateY(-2px);
  }
  
 
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
  
  button:disabled:hover {
    background-color: #ccc;
    transform: none;
  }
  

  .container * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  @media (max-width: 480px) {
    .container {
      padding: 20px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    input,
    select,
    textarea {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }
  