<div class="p-grid">
    
    <div class="p-col-12 p-md-3 p-lg-3">
      <p-card header="Matriz de 3x3" styleClass="p-shadow-2">
        <div class="matrix-container matrix-3x3">
          <div *ngFor="let item of matriz3x3" class="cell">
            {{ item }}
          </div>
        </div>
      </p-card>
    </div>
  
    
    <div class="p-col-12 p-md-3 p-lg-3">
      <p-card header="Matriz de 4x4" styleClass="p-shadow-2">
        <div class="matrix-container matrix-4x4">
          <div *ngFor="let item of matriz4x4" class="cell">
            {{ item }}
          </div>
        </div>
      </p-card>
    </div>
  
    
    <div class="p-col-12 p-md-3 p-lg-3">
      <p-card header="Matriz de 5x5" styleClass="p-shadow-2">
        <div class="matrix-container matrix-5x5">
          <div *ngFor="let item of matriz5x5" class="cell">
            {{ item }}
          </div>
        </div>
      </p-card>
    </div>
  
    
    <div class="p-col-12 p-md-3 p-lg-3">
      <p-card header="Matriz de 6x6" styleClass="p-shadow-2">
        <div class="matrix-container matrix-6x6">
          <div *ngFor="let item of matriz6x6" class="cell">
            {{ item }}
          </div>
        </div>
      </p-card>
    </div>


    <div class="p-col-12 p-md-3 p-lg-3">
      <p-card header="Matriz de 7x7" styleClass="p-shadow-2">
        <div class="matrix-container matrix-5x5">
          <div *ngFor="let item of matriz7X7" class="cell">
            {{ item }}
          </div>
        </div>
      </p-card>
    </div>

  </div>
  