<div class="grid">
    <div class="col-6 col-offset-3">
        <div class="text-center p-3 border-round-sm bg-purple-600 font-bold">6</div>
    </div>
  </div>
  <br>
  <div class="grid">
    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-bluegray-800 font-bold text-white">4</div>
    </div>
    <div class="col-4 col-offset-4">
        <div class="text-center p-3 border-round-sm bg-bluegray-800 font-bold text-white">4</div>
    </div>
  </div>
  <br>
  <div class="flex xl:inline-flex flex-wrap column-gap-4 row-gap-6 ">
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">1</div>
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">2</div>
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">3</div>
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">4</div>
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">5</div>
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">6</div>
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">7</div>
    <div class="border-round w-6rem h-6rem font-bold flex align-items-center justify-content-center bg-black-alpha-50">8</div>
  </div>
  <br>
  <br>
  <div class="flex justify-content-around flex-wrap">
    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-bluegray-600 font-bold border-round m-2">2</div>
    
    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-bluegray-600 font-bold border-round m-2">2</div>
  </div>
  <div class="flex justify-content-center flex-wrap ">
    <div class="flex align-items-center w-5rem h-5rem justify-content-center bg-purple-500 font-bold border-round m-2">6</div>
  </div>
  
  <router-outlet></router-outlet>