<div class="flex justify-content-center flex-wrap gap-3">
    <div
      class="block bg-gray-200 font-bold text-center p-4 border-round mb-3 shadow-md"
      *ngFor="let card of cards"
      style="width: 360px;">
      
      <p-card [header]="card.titulo" [subheader]="card.subheader">
        <ng-template pTemplate="header">
          <img [src]="card.image" [alt]="card.titulo" style="width: calc(100% - 6px); margin: 3px; border-radius: 8px;" />
        </ng-template>
        
        <p class="text-gray-800">
          {{ card.texto }}
        </p>
        
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <button pButton label="Cancel" severity="secondary" class="w-full"></button>
            <button pButton label="Save" class="w-full"></button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>